<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Movie</title>
</head>
<body>

<div class="new-movie">
    <h1>Add New Movie</h1>
    <form th:action="@{/movies}" method="post">
        <label>Title:</label>
        <input type="text" name="title" required/>

        <label>Description:</label>
        <textarea name="description" required></textarea>

        <label>Release Year:</label>
        <input type="number" name="releaseYear" required/>

        <button type="submit">Add Movie</button>
    </form>

</div>


</body>
</html>
